.mat-badge-content{
top: 0.8em !important;
left: 2.2em !important;
width: 1.7em !important;
height: 1.7em !important;
}
.notification{
    right: 2.5% !important;
    top: 1.5% !important;
    display: flex;
    justify-content: center;
    
}