<div class="main">
  <form [formGroup]="resetForm">
    <!-- Left section of the form -->
    <div class="left">
      <div>
        <!-- Welcome message and registration link -->
        <p class="travelbuddy">Welcome to TRAVEL BUDDY!</p>
      </div>
    </div>

    <!-- Right section of the form -->
    <div class="right">
      <div>
        <!-- Login heading -->
        <h1>Reset Password</h1>

        <!-- Username input field -->
        @if (!showPasswordFields) {
        <input
          type="text"
          name="Username"
          id=""
          placeholder="Username"
          formControlName="userName"
        />
        <span class="material-symbols-outlined person"> person </span>
        <button type="button" (click)="nextStep()">Next</button>
        } @else {
        <div>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              placeholder="New Password"
              formControlName="password"
            />
            <span
              class="material-symbols-outlined cursor-pointer select-none lock"
              (click)="togglePasswordVisibility('password')"
            >
              {{ showPassword ? "visibility_off" : "visibility" }}
            </span>
          </div>
          <div class="input-group">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
            />
            <span
              class="material-symbols-outlined cursor-pointer select-none lock"
              (click)="togglePasswordVisibility('confirm')"
            >
              {{ showConfirmPassword ? "visibility_off" : "visibility" }}
            </span>
          </div>
        </div>
        <button type="button" (click)="resetPass()">Reset Password</button>
        }
      </div>
    </div>
  </form>
</div>
